.App {
  text-align: center;
  background-color: #1c2022;
  min-height: 100%;
  color: #bebfc0;
  padding: 0px;
  position: relative;
  padding-bottom: 50px;
}

h1 {
  margin-bottom: 30px;
  color: #bebfc0;
}

.navbar {
  margin-bottom: 10px;
}

.navbar .container {
  display: block;
}

.navbar .container .right {
  float: right;
}

.form-control {
  width: 250px;
  margin: auto;
  text-align: center;
}

.footer {
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  margin: 0;
}
